
@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  /* padding-bottom: 10px; */
  background-color: #1e3a8a;
}

body {
  padding-top: 50px;
}
